.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.app-container {
display: flex;
height: 100vh;
}

.content-container {
flex: 1;
padding: 20px; /* Adjust the padding as needed */
background-color: #f0f0f0; /* Optional background color for the left side */
height: 100%; /* Adjust the height as needed */
}

.map-container {
flex: 1;
height: 100vh; /* Adjust the height as needed */

}

button {
    width: 100px; /* Make button take up full width */
    padding: 10px; /* Add padding */
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }